@model IEnumerable<FaceRaceApp.Models.TurnoViewModel>

@{
    ViewBag.Title = "Turnos";
}

<h2 class="text-center mb-4">Turnos</h2>

@using (Html.BeginForm("Index", "Turno", FormMethod.Get))
{
    <div class="row mb-3">
        <div class="col-md-4">
            <div class="form-group">
                <label for="dni">DNI del cliente:</label>
                <input type="text" class="form-control" id="dni" name="dni" placeholder="Ingrese DNI">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="fecha">Fecha:</label>
                <input type="date" class="form-control" id="fecha" name="fecha">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <button type="submit" class="btn btn-primary mt-4">Filtrar</button>
            </div>
        </div>
    </div>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha</th>
            <th>Hora</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var turno in Model)
        {
            <tr>
                <td>@turno.Nombre</td>
                <td>@turno.Apellido</td>
                <td>@turno.Dia/@turno.Mes/@DateTime.Now.Year</td>
                <td>@turno.Hora</td>
            </tr>
        }
    </tbody>
</table>