@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">FaceRace</h1>
        <p class="lead">Aplicacion web para la gestion de ventas de articulos y repuestos de motos</p>
        <p><a class="btn btn-primary btn-md">Bienvenidos &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Crear Turnos</h2>
            <p>
                Reserve su turno para la compra y revicion de su moto.
            </p>
            <p> @Html.ActionLink("Ingresar", "CreateTurno", "Turno", new { area = "" }, new { @class = "btn btn-outline-dark" })</p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Turnos</h2>
            <p>Visualizar todos los turnos agendados</p>
            <p>
                @Html.ActionLink("Ingresar", "Index", "Turno", new { area = "" }, new { @class = "btn btn-outline-dark" })
            </p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">turnos del dia de hoy</h2>
            <p>Mostrar la lista de turno del dia de hoy</p>
            <p> @Html.ActionLink("Ingresar", "TurnoToday", "Turno", new { area = "" }, new { @class = "btn btn-outline-dark" })</p>
        </section>
    </div>
</main>